@charset "UTF-8";
/* CSS Document */
#content{
	clear:both;
	padding:0;
	overflow:hidden;
	background:url(../images/notebook.png) no-repeat top center;
	background-size:80% 98%;
}
.content-left{
	
	width:20%;
	height:100%;
	float:left;
	margin-top:5%;
	margin-left:18%;
}
#leave-msg{
	text-align:center;
}
.content-right{
	width:35%;
	height:100%;
	float:right;
	margin-top:5%;
	margin-right:13%;
}
.msg{
	width:100%;
}
.msg-username{
	background:url(../images/profile-photo.png) left bottom no-repeat;
	background-size:auto 100%;
	padding-left:1em;
}
#like{
	font-size:80%;
	background-size:auto 100%;
	padding-left:1.5em;
	margin-right:1em;
}
.like{
	
	background:url(../images/like.png) left center no-repeat;
	
}
.liked{
	background:url(../images/liked.png) left center no-repeat;
}
.reply{
	font-size:80%;
	background:url(../images/reply.png) left center no-repeat;
	background-size:auto 100%;
	padding-left:1.5em;
}
#reply-input{
	display:none;
	width:100%;
	margin:0;
}
#existed-reply{
	font-size:80%;
}
#reply-submit{
	display:inline-block;
	position:relative;
	bottom:0.4em;
}