@charset "UTF-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	background-color:#ffffff;
	padding:0;
	margin:0;
	border-top:thick solid #000000;
	height:100%;
	width:100%;
}
#page{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
a{
	text-decoration:none;
	color:#000000;
}

/*导航*/
.header{
	padding:0 auto;
}
.logo{
	position:relative;
	bottom:-.8em;
	display:inline-block;
}
.nav{
	/*position:relative;*/
	
	top:-1.6em;
	padding:0 1em;
	margin:0 0 2em;
}

.nav li{
	display:inline-block;
	margin-left: .8em;
	font-size:120%;
}
.nav li:first-child{
	margin-left:0;
}
.current:after{
	position:relative;
	top:15px;
	left:5px;
	content:'';
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:7px solid #000000;
}
#login-nav{
	font-size:120%;
	position:relative;
	bottom:-1.5em;
	float:right;
}
#login:hover{
	cursor:pointer;
}
/*modal-window*/
.modal {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #525252;
 }

.modal-close {
  	float:right;
  }
  
  #login-window {
  text-align: center;
  line-height:200%;
  clear: both;
  padding: 15px;}
  
#login-submit, input[type="submit"]{
	border:none;
	background-color:#000000;
	color:#FFFFFF;
	border-radius:5px;
	font-size:100%;
	padding:3px 8px;
}
/*内容*/

#footer{
	text-align:center;
	clear:both;
}
#footer a{
	text-decoration:underline;
}

#content{
	width:100%;
	height:600px;
	margin:0;
	padding:0;
	font-size:120%;
}
#content li{
	display:block;
}
