@charset "UTF-8";
/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	background-color:#ffffff;
	padding:0;
	margin:0;
	border-top:thick solid #000000;
	height:100%;
	width:100%;
}
#page{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
a{
	text-decoration:none;
	color:#000000;
}

/*导航*/
.header{
	padding:0 auto;
}
.logo{
	position:relative;
	bottom:-.8em;
	display:inline-block;
}
.nav{
	/*position:relative;*/
	
	top:-1.6em;
	padding:0 1em;
	margin:0 0 2em;
}

.nav li{
	display:inline-block;
	margin-left: .8em;
	font-size:120%;
}
.nav li:first-child{
	margin-left:0;
}
.current:after{
	position:relative;
	top:15px;
	left:5px;
	content:'';
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:7px solid #000000;
}
#login-nav{
	font-size:120%;
	position:relative;
	bottom:-1.5em;
	float:right;
}
#login:hover{
	cursor:pointer;
}
/*modal-window*/
.modal {
  position: absolute;
  z-index: 1000;
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #525252;
 }

.modal-close {
  	float:right;
  }
  
  #login-window {
  text-align: center;
  line-height:200%;
  clear: both;
  padding: 15px;}

#login_submit, input[type="submit"]{

	display:inline-block;
	border:none;
	background-color:#000000;
	color:#FFFFFF;
	border-radius:5px;
	font-size:100%;
	padding:3px 8px;
	margin:1em 0;
}

p#append{
	height:20px;
	margin:0;
}
/*内容*/

#footer{
	text-align:center;
	clear:both;
}
#footer a{
	text-decoration:underline;
}

#content{
	width:100%;
	height:600px;
	margin:0;
	padding:0;
	font-size:120%;
}
#content li{
	display:block;
}
/*style*/
textarea{
	width:85%;
	margin:1em 0 0 0;

}
ul{
	padding:0;
}
.pagination{
	position:absolute;
	bottom:2em;
	left:49%;

}

/*笔记本背景页面样式*/
.content-nb{
	background:url(../images/notebook.png) no-repeat top center;
	background-size:80% 98%;
}
ul{
	list-style:none;
	margin-left:0;
	padding-left:0;
	line-height:150%;
}
.content-nb .content-left{
	
	width:32%;
	height:100%;
	float:left;
	margin-top:5%;
	margin-left:13%;
}

.content-nb .content-right{
	width:30%;
	height:100%;
	float:right;
	margin-top:5%;
	margin-right:18%;
}
/*index*/
#canvas{
		background-color:#FFFFFF;
		width:100%;
		height:600px;
		margin:0;
	}
/*signup*/
.content-signup .content-left{
	
	width:30%;
	height:100%;
	float:left;
	margin-left:22%;
}

.content-signup .content-right{
	box-sizing:border-box;
	background:url(../images/permit-back.png) no-repeat center center;
	background-size:300px 491px;
	width:300px;
	height:491px;
	float:right;
	margin-right:22%;
	padding-top:8em;
}
#signup_form{
	text-align:center;
	line-height:150%;
}
#signup_submit{
	margin-top:6px;
}


label#label_username{
	padding-right: 20px;
}

label#label_password{
	padding-right: 38px;
}

label#label_email{
	padding-right: 23px;
}


/*错误信息样式*/
label.error{
	padding-top: 2px;
	padding-left: 50px;
	width: 200px;
	height:20px;
	display:block;
	font-size: 5px;
	color: red;
	line-height: 10px;
}

#signup_form p{
	height: 50px;
	margin:0;
}
/*msgboard*/
#leave-msg{
	text-align:center;
}

.msg{
	width:100%;
}
.msg-username{
	background:url(../images/profile-photo.png) left bottom no-repeat;
	background-size:auto 100%;
	padding-left:1em;
}
#like{
	font-size:80%;
	background-size:auto 100%;
	padding-left:1.5em;
	margin-right:1em;
}
.like{
	
	background:url(../images/like.png) left center no-repeat;
	
}
.liked{
	background:url(../images/liked.png) left center no-repeat;
}
.reply{
	font-size:80%;
	background:url(../images/reply.png) left center no-repeat;
	background-size:auto 100%;
	padding-left:1.5em;
}
#reply-input{
	display:none;
	width:100%;
	margin:0;
}
#existed-reply{
	font-size:80%;
}
#reply-submit{
	display:inline-block;
	position:relative;
	bottom:0.4em;
}
/*episode*/
.content-episode .content-left{
	text-align:center;
	width:48%;
	height:100%;
	float:left;
	margin-left:7%;
}

.content-episode .content-right{
	width:28%;
	height:100%;
	right:15%;
	position:fixed;
}
.recommendation{
	border:thin solid black;
	padding:0 1em;
	position:relative;
	width:100%;
	height:30%;
	margin-bottom:2em;
}
.comment-list{
	border:thin solid black;
	padding:0 1em;
	position:relative;
	width:100%;
	max-height:80%;
	overflow:scroll;
}
#comments{
	position:relative;
	width:100%;
}
.collapse{
	display:none;
}
.unfold{
	display:block;
}
/*game*/

#play_area{
	float:left;
	width:300px;
	height:480px;
	margin:auto;
	background-color: transparent;
	border-radius:2px;
	color: black;
	padding:1px 0 0 1px;
	border-bottom:medium solid black;
}
#play_area .play_cell{
	float:left;
	width:19px;
	height:19px;
	border:1px solid transparent;
	margin:-1px 0 0 -1px;
}
#play_area .play_cell.active{
	background:black;
	border:1px solid white;
}
#play_area .play_cell.goal{
	background: #0C0;
}
.play_menu{
	float:left;
	margin-left:2em;
	font-size:14px;
	padding-top:20px;
}
.play_menu #play_nextType{
	width:60px;
	height:60px;
	padding:1px 0 0 1px;
	margin:10px 0 20px 00px;
}
.play_menu .play_mini_cell{
	float:left;
	width:14px;
	height:14px;
	border:1px solid transparent;
	margin:-1px 0 0 -1px;
}
.play_menu .play_mini_cell.active{
	background:black;
	border:1px solid white;
}
/*.play_menu p{
	line-height:200%;
	clear:both;
}*/
.play_menu a.play_btn{
	display:block;
	border:none;
	background-color:#000000;
	color:#FFFFFF;
	border-radius:5px;
	font-size:100%;
	padding:5px 8px;
	margin:1em 0;
	text-align:center;
}

.level_menu li a{
	display:block;
	border:none;
	background-color:grey;
	color:#FFFFFF;
	border-radius:5px;
	font-size:100%;
	padding:3px 8px;
	margin:1em 0;
	text-align:center;
}
.level_menu li a.current_level{
	background-color:black;
}
#tetris_ranking{
	width:100%;
	text-align:center;
}
#tetris_ranking caption{
	border-bottom:medium double black;
	margin-bottom:.3em;
	font-size:120%;
}